# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
alabaster=0.7.13=pypi_0
annotated-types=0.5.0=pypi_0
autopep8=2.0.2=pypi_0
babel=2.12.1=pypi_0
bzip2=1.0.8=h8ffe710_4
ca-certificates=2023.7.22=h56e8100_0
certifi=2022.12.7=pypi_0
charset-normalizer=2.1.1=pypi_0
click=8.1.6=pypi_0
colorama=0.4.6=pypi_0
contourpy=1.1.0=pypi_0
cycler=0.11.0=pypi_0
dgl=1.1.1+cu118=pypi_0
dglgo=0.0.2=pypi_0
docutils=0.20.1=pypi_0
filelock=3.9.0=pypi_0
fonttools=4.42.0=pypi_0
idna=3.4=pypi_0
imagesize=1.4.1=pypi_0
importlib-metadata=6.8.0=pypi_0
importlib-resources=6.0.1=pypi_0
isort=5.12.0=pypi_0
jinja2=3.1.2=pypi_0
joblib=1.3.1=pypi_0
kiwisolver=1.4.4=pypi_0
libffi=3.4.2=h8ffe710_5
libsqlite=3.42.0=hcfcfb64_0
libzlib=1.2.13=hcfcfb64_5
littleutils=0.2.2=pypi_0
markupsafe=2.1.2=pypi_0
matplotlib=3.7.2=pypi_0
mpmath=1.2.1=pypi_0
munkres=1.1.4=pypi_0
networkx=3.0=pypi_0
numpy=1.24.1=pypi_0
numpydoc=1.5.0=pypi_0
ogb=1.3.6=pypi_0
openssl=3.1.2=hcfcfb64_0
outdated=0.2.2=pypi_0
packaging=23.1=pypi_0
pandas=2.0.3=pypi_0
pillow=9.3.0=pypi_0
pip=23.2.1=pyhd8ed1ab_0
psutil=5.9.5=pypi_0
pycodestyle=2.11.0=pypi_0
pydantic=2.1.1=pypi_0
pydantic-core=2.4.0=pypi_0
pygments=2.16.1=pypi_0
pyparsing=3.0.9=pypi_0
python=3.9.16=h4de0772_0_cpython
python-dateutil=2.8.2=pypi_0
pytz=2023.3=pypi_0
pyyaml=6.0.1=pypi_0
rdkit-pypi=2022.9.5=pypi_0
requests=2.28.1=pypi_0
ruamel-yaml=0.17.32=pypi_0
ruamel-yaml-clib=0.2.7=pypi_0
scikit-learn=1.3.0=pypi_0
scipy=1.11.1=pypi_0
seaborn=0.12.2=pypi_0
setuptools=68.0.0=pyhd8ed1ab_0
six=1.16.0=pypi_0
snowballstemmer=2.2.0=pypi_0
sphinx=7.1.2=pypi_0
sphinxcontrib-applehelp=1.0.4=pypi_0
sphinxcontrib-devhelp=1.0.2=pypi_0
sphinxcontrib-htmlhelp=2.0.1=pypi_0
sphinxcontrib-jsmath=1.0.1=pypi_0
sphinxcontrib-qthelp=1.0.3=pypi_0
sphinxcontrib-serializinghtml=1.1.5=pypi_0
sympy=1.11.1=pypi_0
threadpoolctl=3.2.0=pypi_0
tk=8.6.12=h8ffe710_0
tomli=2.0.1=pypi_0
torch=2.0.1+cu118=pypi_0
torch-cluster=1.6.1+pt20cu118=pypi_0
torch-geometric=2.3.1=pypi_0
torch-scatter=2.1.1+pt20cu118=pypi_0
torch-sparse=0.6.17+pt20cu118=pypi_0
torch-spline-conv=1.2.2+pt20cu118=pypi_0
torchaudio=2.0.2+cu118=pypi_0
torchvision=0.15.2+cu118=pypi_0
tqdm=4.65.0=pypi_0
typer=0.9.0=pypi_0
typing-extensions=4.7.1=pypi_0
tzdata=2023.3=pypi_0
ucrt=10.0.22621.0=h57928b3_0
urllib3=1.26.13=pypi_0
vc=14.3=h64f974e_17
vc14_runtime=14.36.32532=hfdfe4a8_17
vs2015_runtime=14.36.32532=h05e6639_17
wheel=0.41.1=pyhd8ed1ab_0
xlrd=1.2.0=pypi_0
xz=5.2.6=h8d14728_0
zipp=3.16.2=pypi_0
